*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    width: 100%;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-around;
}
.nav-logo{
    height: 50px;
    width: 100px;   
}
.logo {
    height: 50px;
    width: 100px;
    padding-top: 6px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
.nav-address {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    height: 21px;
    font-size: 19px;
    width: 5px;
}
.nav-serch{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px ;
}
form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;x``
    margin-right: 15px;
}
.search-select {
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    height: 35px;
    width: auto;
    font-family: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    border: 0;
    line-height: 35px;
}
.search-input {
    width: 211px;
    font-size: 1rem;
    border: none;
    height: 19px;
}
.searrch-icon{
    width: 45px;
    display: flex;
    justify-self: center;
    align-items:center;
    font-size: 1.2rem;
    background-color: #feb68f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* .nav-search:hover{
    border: 2px solid orangered;
} */
span{
    font-size: 0.7rem;
}
.nav-second{
font: size 0.85em; 
font-weight:700 ;
}
.nav-cart i {
    font-size: 32px;
}
.nav-cart{
    font-weight: 700;
}
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 472%;
    font-size: 0.85rem;
    color: white;  
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
}
.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height:350px;
    display: flex;
    justify-content: center;
    align-items:flex-end ;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    text-align: center;
    
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box{
    height: 100px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: top 15px; ;
}
.box-img{
height: 100px;
background-size:contain;
margin-top:1rem;
margin-bottom:1rem; 
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;  
}
.box-content p{
color: #007185;
}

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}
.foot-panel3{
    background-color:#222f3d;
    color: white;
    border-top: solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
   font-size: 0.7rem;
  
}
.copyright{
    padding-top: 5px;

}

